client/node_modules/
client/package-lock.json
client/yarn.lock
client/yarn-error.log
client/yarn-debug.log
client/yarn-debug.log.
server/node_modules/
server/package-lock.json
server/yarn.lock
server/yarn-error.log
server/yarn-debug.log
server/yarn-debug.log.

